<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titre %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Formulaire de contact</h1>
    <form action="/traitement" name="contact" method="post">
        <label for="nom">Nom :</label>
        <input type="text" name="nom" id="nom" placeholder="Entrez votre nom">
        <br>
        <label for="msg">Votre message :</label>
        <input type="text" name="msg" id="msg" placeholder="Entrez votre message">
        <br>
        <input type="submit" value="Envoyer">
    </form>
</body>
</html>