<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titre %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1><%= titre %></h1>
    <h3>Bonjour <%= nom %>,</h3>
    <p>Nous avons bien reçu votre message :</p>
    <p class="reponse"><%= msg %></p>
    <hr>
    <a href="/" style="float: left;">Retour vers l'accueil</a>
    <a href="/contact" style="float:right;">Envoyer un autre message</a>
</body>
</html>