<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('menu.ejs'); -%>
    <h1>Bienvenue !</h1>
    <p>Vous êtes sur la page d'accueil du site de notre entreprise.</p>
    <img src="images/Node.js_logo.svg" alt="Logo Node.JS">
</body>
</html>