<%- include('header') -%>
    <h1><%= titre %></h1>
      <p>Bienvenue !</p>
      <p><a href="/contact">Aller sur le formulaire de contact</a></p>
      <p><a href="/messages">Aller sur le tableau des messages</a></p>
      <p><a href="/messages/list">Aller sur la liste des messages</a></p>
<%- include('footer') -%>
