<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Aventure Digitale</title>
        <link type="text/css" rel="stylesheet" href="style.css" />
    </head>
    <body>
        <%- include('menu.ejs'); -%>
        <header>
            <h1>Aventure Digitale</h1>
        </header>
        <section id="#top">
            <h2>Formation gratuite pour chercheur d'emploi de moins de 30 ans habitant la région bruxelloise, en cours de jour à Bruxelles.</h2>
            <div id="chapitres">
                <img src="images/imageAvDig.png" width="340">
                <ul>
                    <li><a href="#formation">Formation</a></li>
                    <li><a href="#objectifs">Objectifs</a></li>
                    <li><a href="#acces">Conditions d'accès</a></li>
                    <li><a href="#contenu">Contenu</a></li>
                    <li><a href="#tests">Tests</a></li>
                    <li><a href="#contrat">Contrat</a></li>
                </ul>
            </div>
            <article class="aventure" id="formation">
                <h3>FORMATION - DETERMINATION</h3>
                <p>Vous avez envie de travailler dans le numérique / le web / l’informatique, mais vous ne savez pas quel métier choisir ?</p>
                <p>Le Parcours Découverte Digitale (Approche des métiers du numérique et du web) est un parcours de détermination de 8 semaines pour vous permettre de:</p>
                <ul>
                    <li>Construire votre projet professionnel dans les métiers du numérique et du web</li>
                    <li>Communiquer oralement et par écrit en français dans un environnement professionnel dans le domaine du numérique et du web</li>
                    <li>Découvrir les différents métiers du numérique et du web, ainsi que les principaux outils informatiques et logiciels utilisés dans ces métiers</li>
                    <li>Acquérir les prérequis nécessaires en français, arithmétique et logique pour entrer en formation qualifiante dans le domaine du numérique et du web
                    <li>Préparer votre parcours de formation.</li>
                </ul>
                <p class="top"><a href="#top">^ Haut de la page</a></p>
            </article>
            <article class="aventure" id="objectifs">
                <h3>OBJECTIFS</h3>
                <p>Acquérir les outils nécessaires pour développer votre projet professionnel et vous préparer à entrer dans une formation qualifiante dans le domaine du numérique et du web.</p>
                <p>Parcours de détermination destiné aux jeunes qui souhaitent s’orienter dans le domaine du numérique et du web, sans avoir de projet précis, afin de leur donner les outils nécessaires pour développer un projet professionnel et préparer les étapes du parcours de formation qui suivra.</p>
                <p>Durée : 8 semaines.</p>
                <p class="top"><a href="#top">^ Haut de la page</a></p>
            </article>
            <article class="aventure" id="acces">
                <h3>CONDITIONS ACCES</h3>
                <ul>
                    <li>Avoir entre 18 et 29 ans</li>
                    <li>Être demandeur d’emploi inscrit à Actiris</li>
                    <li>Habiter la région bruxelloise</li>
                    <li>Avoir maximum un CESS reconnu en Belgique</li>
                    <li>Vouloir s’orienter dans le domaine numérique et/ou du web, sans avoir de projet précis.</li>
                </ul>
                <br/>
                <p class="top"><a href="#top">^ Haut de la page</a></p>
            </article>
            <article class="aventure" id="contenu">
            <h3>CONTENU</h3>
                <ul>
                    <li>Initiation informatique & découverte montage / démontage PC</li>
                    <li>Découverte Web (logique & coding HTML, CSS)</li>
                    <li>Découverte Communication Digitale (Photoshop, Illustrator)</li>
                    <li>Initiation à l’entrepreneuriat</li>
                    <li>Recherche documentaire Internet/mail</li>
                    <li>Word, PowerPoint</li>
                    <li>Découverte vidéographie</li>
                    <li>Français, expression orale et écrite</li>
                    <li>Arithmétique appliquée</li>
                    <li>Logique & préparation aux tests d’entrée en formation qualifiante</li>
                    <li>Gestion de projet</li>
                    <li>Orientation professionnelle</li>
                    <li>Visites de centres de formation & d’entreprises</li>
                    <li>Gestion du stress</li>
                </ul>
                <p class="top"><a href="#top">^ Haut de la page</a></p>
            </article>
            <article class="aventure" id="tests">
                <h3>TESTS</h3>
                <p>Outre les conditions d’ordre administratif, les candidats doivent :</p>
                <ul>
                    <li>Assister à une séance d’information (1h)</li>
                    <li>Passer un test basé sur la compréhension d’un texte en français (30 min)</li>
                    <li>Passer un test basé sur les 4 opérations en calcul (30 min)</li>
                    <li>Participer à un entretien individuel qui consistera à échanger sur vos attentes et vos projets (30 min)</li>
                </ul>
                <h3 id="lieu">LIEU</h3>
                <address>CF2m<br />Avenue du Parc, 89<br />1060 Bruxelles</address>
                <p class="top"><a href="#top">^ Haut de la page</a></p>
            </article>
            <article class="aventure" id="contrat">
                <h3>CONTRAT</h3>
                <p>Dès votre entrée en formation, vous signerez un contrat de 10 semaines conclu entre vous, le CF2m et Bruxelles Formation.</p>
                <p>Vos droits :</p>
                <p>Ce contrat vous permet de recevoir un défraiement supplémentaire d’1 euro brut de l’heure de cours suivie, de suivre la formation gratuitement et d’être en dispense au niveau de votre recherche d’emploi.</p>
                <p>Vos engagements</p>
                <ul>
                    <li>Assister à tous les cours</li>
                    <li>Être ponctuel</li>
                    <li>Adopter une posture d’apprentissage.</li>
                </ul>
                <p class="top"><a href="#top">^ Haut de la page</a></p>
            </article>    
        </section>
        <footer>
            <div id="partenaires">
                <img src="images/partners1.png" />
                <img src="images/partners2.png" />
            </div>
            <div id="copyright">
                <p>&copy; CF2m - 2020</p>
            </div>
        </footer>
    </body>
</html>