<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Accueil</title>
        <link type="text/css" rel="stylesheet" href="style.css" />
    </head>
    <body>
        <%- include('menu.ejs'); -%>
        <header>
            <h1>Accueil</h1>
        </header>
        <section>
            <div id="bienvenue">
                <a href="https://www.cf2m.be"><img src="images/logoCF2M.png" alt="logo CF2mille" title="logoCF2mille" /></a>
                <p class="au-centre">Bienvenue dans mon univers,</p>
                <p>Voici le site, réalisé dans le cadre de la formation <strong><a href="aventure.html">Aventure Digitale</a></strong> que j'ai suivie en 2020 au <strong><a href="https://www.cf2m.be">Centre de Formation 2 mille</a></strong>. Ce module m'a donné l'occasion de m'initier au développement Web et à d'autres métiers du numérique.</p>
                <p>Après <strong><a href="presentation.html">m'être présenté</a></strong>, vous pourrez découvrir tout ce qui concerne <strong><a href="aventure.html">Aventure Digitale</a></strong>, et enfin regarder toutes <strong><a href="realisations.html">mes réalisations</a></strong> produites pendant la formation.</p>
                <p class="au-centre">Bonne visite et bon amusement !</p>
            </div>
            <div id="choix">
                <article class="bloc">
                    <h3><a href="/presentation">Je me présente</a></h3>
                    <a href="/presentation"><img src="images/jemepresente.png" alt="Je me présente" title="Je me présente" /></a>
                </article>
                <article class="bloc">
                    <h3><a href="/aventure">La formation</a></h3>
                    <a href="/aventure"><img src="images/aventure.png" alt="Aventure Digitale" title="Aventure Digitale" /></a>
                </article>
                <article class="bloc">
                    <h3><a href="/realisations">Mes réalisations</a></h3>
                    <a href="/realisations"><img src="images/realisations.png" alt="Mes réalisations" title="Mes réalisations" /></a>
                </article>
            </div>
        </section>
        <footer>
            <div id="partenaires">
                <img src="images/partners1.png" />
                <img src="images/partners2.png" />
            </div>
            <div id="copyright">
                <p>&copy; CF2m - 2020</p>
            </div>
        </footer>
    </body>
</html>