<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Je me présente</title>
        <link type="text/css" rel="stylesheet" href="style.css" />
    </head>
    <body>
        <%- include('menu.ejs'); -%>
        <header>
            <h1>Je me présente</h1>
        </header>
        <section>
            <div id="maphoto">
                <img src="images/portrait.png" width="380px" height="380px" />
            </div>
            <div id="mapresentation">
                <h2>John Doe</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in mi tellus. Vestibulum facilisis gravida lacus vel condimentum. Aliquam ut fermentum lorem. Nunc mi arcu, ultrices id neque ac, vulputate varius leo. Nunc at rutrum enim. Curabitur vel velit arcu. Nulla in gravida magna. Fusce non rutrum dolor, sed rhoncus orci. Nullam et nisi malesuada, laoreet lacus vel, commodo ante. Maecenas quis sem ipsum. Aliquam quam mauris, ultrices non ipsum nec, dictum hendrerit eros.</p>
                <p>Proin a dictum orci. Quisque vel erat at metus viverra mollis. Nunc et nibh quis ligula posuere auctor a ut odio. Nulla ac leo id risus convallis ornare. Nullam eu accumsan lectus. Nullam quis nisi euismod, gravida eros in, malesuada metus. Vestibulum sed euismod eros. Quisque gravida convallis orci, eu dictum purus. Nunc rutrum posuere lectus at hendrerit. Vestibulum tincidunt dolor urna, varius interdum tellus mattis sit amet. Nam elementum viverra odio, a viverra est vulputate sit amet. Aliquam nunc sem, ornare sit amet urna vel, aliquam suscipit tortor. Quisque pharetra placerat volutpat. Cras vehicula purus ante. Aenean porta lacinia leo, vitae molestie enim pretium nec. Integer justo risus, mattis lobortis sollicitudin ut, ultrices quis nisl.</p>
                <p>Duis laoreet augue in tempor mollis. Proin tincidunt lacinia metus, vel dignissim mi finibus aliquet. Cras quis magna a sapien auctor fringilla porta vitae diam. Aenean leo erat, suscipit at feugiat sit amet, finibus eget lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer non neque est. Vivamus nisi sem, hendrerit at elit eget, tempus posuere sapien. Vivamus eu lectus erat. Sed elit nisi, lobortis a dolor quis, viverra malesuada risus. Aenean eget aliquam mauris, ut placerat nisl. Nulla eget est mi. Mauris urna dolor, rutrum sit amet iaculis id, mattis non mauris.</p>
           </div>
        </section>
        <footer>
            <div id="partenaires">
                <img src="images/partners1.png" />
                <img src="images/partners2.png" />
            </div>
            <div id="copyright">
                <p>&copy; CF2m - 2020</p>
            </div>
        </footer>
    </body>
</html>