<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Mes réalisations</title>
        <link type="text/css" rel="stylesheet" href="style.css" />
        <link href="lightbox/css/lightbox.min.css" rel="stylesheet" />
    </head>
    <body>
        <%- include('menu.ejs'); -%>
        <header>
            <h1>Mes réalisations</h1>
        </header>
        <section>
            <article class="realisation">
                <h2>Mes travaux avec Photoshop</h2>
                <a href="travaux/chute.jpg" data-lightbox="photoshop"><img src="travaux/Photoshop_chute.jpg" /></a>
                <a href="travaux/desert.jpg" data-lightbox="photoshop"><img src="travaux/Photoshop_desert.jpg" /></a>
                <a href="travaux/toucan.jpg" data-lightbox="photoshop"><img src="travaux/Photoshop_toucan.jpg" /></a>
            </article>
            <article class="realisation">
                <h2>Mes travaux avec Illustrator</h2>
                <a href="travaux/Illustrator_comicbook.jpg" data-lightbox="illustrator"><img src="travaux/Illustrator_comicbook.jpg" /></a>
                <a href="travaux/Illustrator_avatars.jpg" data-lightbox="illustrator"><img src="travaux/Illustrator_avatars.jpg" /></a>
                <a href="travaux/Illustrator_dessin2.jpg" data-lightbox="illustrator"><img src="travaux/Illustrator_dessin2.jpg" /></a>
            </article>
            <article class="realisation">
                <h2>Mes travaux en vidéo</h2>
                <video src="travaux/wildlife.mp4" width="360" controls poster="travaux/poster_wildlife.png">
                </video><video src="travaux/top-5-des-pub-avec-les-chiens.mp4" width="360" controls poster="travaux/poster_chiens.png">
                </video>
            </article>    
        </section>
        <footer>
            <div id="partenaires">
                <img src="images/partners1.png" />
                <img src="images/partners2.png" />
            </div>
            <div id="copyright">
                <p>&copy; CF2m - 2020</p>
            </div>
        </footer>
        
        <script src="lightbox/js/lightbox-plus-jquery.min.js"></script>
    </body>
</html>