<!DOCTYPE html>
<html>
<head>
    <title><%= titre %></title>
    <meta name="viewport" content="widt=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= titre %></h1>
<h3>Bonjour <%= nom %></h3>
<p>Nous aons bien reçu votre message :</p>
<p class="reponse"><%= msg %></p>
<hr>
<a href="/" style="float: left">Retour vers l'accueil</a>
<a href="/contact" style="float: left">envoyer un autre message</a>
</body>
</html>